.header {
}

.header__top--wrapper {
    padding: 12px 0;
    color: $white;
    background-color: $accent;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__tip {
    display: flex;
}

.header__tip-pay {
}

.header__tip-delivery {
}

.header__profile {
}

.header__signin {
}

.header__language {
}

.header__nav {
    padding: 29px 0;
}

.header__home {
}