.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    width: 198px;
    height: 47px;
}

.nav__list {
    display: flex;
    gap: 72px;
}

.nav__link {
    font-size: 18px;
    line-height: 1.33;
    color: $main;

    &--active {
        color: $accent;
    }
}

.nav__action {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav__search {
}

.nav__input {
}

.cart {
    margin-right: 7px;
}
