.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
}

.nav__list {
    display: flex;
    gap: 72px;
}

.nav__list-link {
}

.nav__action {
}

.search {
}

.cart {
}