.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
}

.nav__list {
    display: flex;
    gap: 72px;
}

.nav__link {
    font-size: 18px;
    line-height: 24px;
    color: $main;

    &--active {
        color: $accent;
    }
}

.nav__action {
}

.search {
}

.cart {
}