/* fonts*/
$text-main: 'Jost', sans-serif;
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif;
*/



/* colors*/
$accent: #f6623e;
$main: #454545;
$muted: #9d9d9d;
$white: #FFF;
